.bg-purple {
    background-color: #290756;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(144, 59, 177, 0.5)), url(../img/bghero.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3b1150;
}

ul {
  list-style: none;
}

.text-morado {
  color: #3b1150;
}

.text-gris {
  color: #534e58;
}

.mukta-bold {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.bg-plight {
    background-color: #ECDFF8;
  }
.bg-claro {
  background-color: #fffbf7;
}

.text-azul {
  color: #cdf4ff;
}

h2 {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
    color: #ecdff8;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.2rem solid #FFF;
    animation: 
        typing 2.56s steps(18) 0.6s forwards,
        blink 0.5s infinite step-end alternate;
        
}

@keyframes typing {
    from {
      width: 0ch;
      
    }
    to {
      width: 18ch;
    }
    
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
 